In [34]:
# 1. 가격(100, 200, 300)이 적혀있는 리스트(lst)를 생성한 뒤
#     각 금액에 세금 10원이 추가되어 출력하시오

lst = [100, 200, 300]

for pay in lst :
    print(pay+10)

110
210
310

In [23]:
# 2. 동물의 이름(dog, cat, tiger)이 저장되어있는 리스트를 생성한 뒤
#     각 동물의 이름과 글자수를 출력하시오
#     출력 예 ) dog 3
#              cat 3
#              tiger 5

animal=["dog","cat","tiger"]

for name in animal :
    print(name, len(name))

# result2 = [ animal+" "+str(len(animal)) for animal in animal]
# print(result2)

dog 3
cat 3
tiger 5

In [27]:
# 3. 아래의 리스트 중 색상 이름(초록, 빨강, 파랑)만 출력하시오

list = ["색깔", "초록", "빨강", "파랑"]

for color in list[1:] :
    print(color)

초록
빨강
파랑

In [32]:
# 4. 아래의 리스트 중 음수만 출력하시오

list = [4, -21, -56, 5]

for miner in list :
    if miner<0 :
        print(miner)

-21
-56

In [35]:
# 5. 리스트에서 20보다 작은 3의 배수를 출력하시오

list = [13,21,12,14,30,18]

for result5 in list :
    if result5<20 : 
        if result5%3==0 :
            print(result5)

12
18

In [40]:
# 6. 이름의 첫 글자를 대문자로 변경하여 출력하시오

list = ['green','red','blue']

for list in list :
    print(list[0].upper()+list[1:])

Green
Red
Blue

In [43]:
# 7. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 출력하시오.
list = ['hello.py', 'index.html','login.java']

for list in list :
    print(list.split('.')[0])

hello
index
login

In [55]:
# 8. 파일 이름이 저장된 리스트에서 확장자가 'py'인 파일이름만 출력하시오
list = ['hello.py', 'index.html','login.java']

for result8 in list :
    if str(result8[-2:]) == str('py') :
        print(result8.split('.')[0])

hello

In [96]:
# 9. 1부터 30까지의 숫자중에서 3의 배수를 출력하시오.

# for num3 in range(1,30) :
#     if num3%3==0 :
#         print(num3)

for num in range(3, 31, 3):
    print(num)

3
6
9
12
15
18
21
24
27
30

In [124]:
# 10. 다음 리스트의 데이터를 for문을 이용하여 출력하시오.
# 출력 예 ) 100 32150
#           110 32000
#           120 32500

price = [32100, 32150, 32000, 32500]

for listnum in range(1,4) :
    print(90+10*listnum,price[listnum])

100 32150
110 32000
120 32500

In [103]:
# 1부터 10까지의 숫자를 모두 곱한 값을 출력하시오.
a = 1
for i in range(1,11) :
    a *= i
print(a)

3628800

In [152]:
# 11. 다음 리스트를 아래와 같이 출력하시오
# 출력 예 )
    # A   B
    # B   C 
    # c   D 

list=['A','B','C','D']

for i in range(1,len(list)) :
    print(list[i-1],list[i])

print("--------------------")

for i in range(len(list)-1):
    print((list[len(list)-1-i]), list[len(list)-2-i])

A B
B C
C D
--------------------
D C
C B
B A

In [165]:
# 12. 다음 리스트를 아래와 같이 출력하시오 (~16.)
# 101
# 102
# 201
# 202
# 301
# 302
list=[[101,102],[201,202],[301,302]]

for i in range(0,len(list)) :
    for j in range(0,len(list[i])) :
        print(list[i][j])

print("----------------------")

for i in list :
    for j in i:
        print(j,"호")

101
102
201
202
301
302
----------------------
101 호
102 호
201 호
202 호
301 호
302 호

In [166]:
# 13. 
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호

list=[[101,102],[201,202],[301,302]]

for i in list[::-1] :
    for j in i:
        print(j,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [169]:
# 14.
# 302
# 301
# 202
# 201
# 102
# 101

list=[[101,102],[201,202],[301,302]]

for i in list[::-1] :
    for j in i[::-1] :
        print (j,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [193]:
# 15. 
# 101 호
# 102 호
# -------- 1층
# 201 호
# 202 호
# -------- 2층
# 301 호
# 302 호
# -------- 3층

list=[[101,102],[201,202],[301,302]]
w=0

for i in list :
    w+=1
    for j in i:
        print(j,"호")
    print("------------",w,"층")

101 호
102 호
------------ 1 층
201 호
202 호
------------ 2 층
301 호
302 호
------------ 3 층