In [6]:
#1. 전화번호 뒤에서 4자리만 출력
phone = "010-1234-5678"

print(phone[9:])

5678

In [38]:
#2. 전화번호의 -을 빼고 출력
phone = "010-1234-5678"
phone.split("-")

['010', '1234', '5678']

In [36]:
#3. 저장된 문자열을 다음과 같은 형태로 출력
text1="python"
text2="java"
#출력결과 : python java python java python java 
text3=text1+" "+text2+" "
print(text3*3)

python java python java python java

In [40]:
#4. 변수에 다음과 같이 저장되어 있을 때 formatting을 사용하여
#출력결과와 같이 출력
#출력결과
# 이름 : 김그린 나이 : 22
# 이름 : 정디비 나이 : 33

name1="김그린"
age1=22
name2="정디비"
age2=33

print("이름 :  %s 나이 : %d" % (name1, age1))
print("이름 :  %s 나이 : %d" % (name2, age2))

이름 :  김그린 나이 : 22
이름 :  정디비 나이 : 33

In [43]:
#5. 파일명의 확장자가 xlsx로 끝나는지 확인할 것
file_name="보고서.xlsx"

file_name.endswith(("hwp","xlsx"))

True

In [18]:
#6. 아래의 문자열을 "_"기준으로 분리하여 출력
text="a_bc_def_g_hi"
text.split("_")

['a', 'bc', 'def', 'g', 'hi']

In [35]:
#7. 날짜를 연,월,일로 구분하여 출력
date="2024-10-08"

year=date[:4]
month=date[5:7]
day=date[8:10]
f'연:{year} 월:{month} 일:{day}'

'연:2024 월:10 일:08'

In [22]:
#8. 문자열의 오른쪽 공백을 제거하여 출력
memo="아하하하하         "
memo.rstrip()

'아하하하하'